.service__details{
    height: 10rem;
    background: rgb(255, 255, 255);
    width: 25rem;
    border: 1px solid gray;
    border-radius: .5rem;
    margin: 2rem;
    position: relative;
}

.tag{
    position: absolute;
    margin: .5rem 1rem;
    border-bottom: 1px solid gray;
}

.name{

}

.postedby{
    position: absolute;
    left: 1rem;
    bottom: 1px;
    color: rgb(255, 255, 255);
}

.service{
    width: 75%;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.header__input{
    display: flex;
    align-items: center;
    background-color: rgb(235, 231, 231);
    padding: 10px;
    margin-left: 10px;
    border-radius: 33px;
    width:30%;
    margin: 2rem auto;
}
.header__input>input{
    border: none;
    outline-width: 0;
    background-color: transparent;
}



/* card */

/* body{
    font-family: sans-serif;
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    min-width: 400px;
    background: #dfe6e9;
    text-align: center;
} */


.heading{
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 30px;
}

.card{
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background:rgb(71,132,255);
    margin: 50px 0;
    height: 200px;
    width: 40%;
    margin: 50px 50px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
}
@media screen and (max-width:1028px){

    .card{
        width: 90%;
    }
    .service{
        width: 100%;
    }
}
.top{
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.name{
    font-size:2em;
    color: #2d3436;
    display:flex;
    flex: 1;
    position: relative;
    margin: 10% 20px 0;
}

.card img{
    margin:30px 20px 0 0;
}

.choice{
    display: flex;
}

.control_btn{
    width: 5rem;

}
.circle-img{
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
}

.bottom{
    margin-top: 80px;
    color: black;
}

.info{
    margin: 20px 0;
    color: #ffffff;
}

.form_container{
    width: 50%;
    margin: auto;
}
label{
    font-size: large;
    /* margin-top: 2rem; */
}
input{
    margin-bottom: 1rem;
}