
.post__options{
    padding-top: 10px;
    border-top: 1px solid lightgrey;
    display: flex;
    /* justify-content:flex-start; */
    align-items: center;
    color: gray;
    cursor: pointer;
    padding: 15px;
}
p{
    /* font-size: xx-large; */
}
.post__option{
    margin-left:2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.post__option>p{
    margin-left: 5px;
}
.post__option:hover{
    background-color: #efefef;
    border-radius: 10px;
}
.notice__replyes{
    background: rgb(241, 241, 241);
}

.upvote{
    /* background: red; */
    color: blue;
}
.downvote{
    color: red;
}